<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} - R$ {{ product.price }} <a href="/add/{{ product.id }}">Adicionar ao Carrinho</a></li>
        {% endfor %}
    </ul>
</body>
</html>
